* {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
}

.mod-div {
  display: flex;
  flex-direction: column;
  margin: .5em;
  border: red 1px solid;
  padding: 1em;
  max-width: 22%;
  height: fit-content;
}

.mod-source-url {
  text-decoration: none;
  font-weight: bolder;
}

.modrinth-url {
  color: #1bd96ab3;
}

.curseforge-url {
  color: #f16436;
}

#mods-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.mod-div>* {
  width: fit-content;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-filter-form {
  margin-top: .5em;
  padding: 0.5em;
  border: rgba(27, 217, 106, .7) solid 2px;
  border-radius: 10px;
}

.sort-filter-form>select {
  padding: 0.2em;
  border: 1px red solid;
}

time {
  text-decoration: underline;
  font-weight: bolder;
}